{% extends "index.html" %}
{% block title %}Project X CMS(demo){% endblock %}
{% block content %}
<div class="col-12">
	<p class="display-4">Товары</p>
</div>
<div class="card-desk row">
	{% for product in products %}
	<div class="col-3">
		<div class="card">
			<a href="http://projectx/products/{{product.url}}">
				<img src="../../upload/{{ product.image }}" alt="{{ product.name }}" title="{{ product.name }}" class="card-img-top" style="width: 100%">
			</a>
			<div class="card-block">
				<h4 class="card-title">{{ product.name|slice(0,25) }}</h4>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Цена: {{ product.price }} грн.</li>
			</ul>
			<div class="card-footer">
				<a href="#" class="btn btn-primary">Купить</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
