{% extends "index.html" %}
{% block title %}Товары{% endblock %}

{# {% block header %}
<p class="display-4">HELLO</p>
{% endblock header %} #}

{% block content %}
<div class="p-2">
</div>
{% if product.name %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Главная</a>
    <a class="breadcrumb-item" href="/products/">Товары</a>
    <span class="breadcrumb-item active">{{ product.name }}</span>
</nav>
<div class="card-desk row">
    <div class="col-4">
        <div class="card">
            <a href="/products/{{product.url}}">
                <img src="../../upload/{{ product.image }}" alt="{{ product.name }}" title="{{ product.name }}" class="card-img-top" style="width: 100%">
            </a>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ product.name }}</h4>
                <p class="card-text">{{ product.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Цена: {{ product.price }} <sup><span class="badge badge-pill badge-success"><del>{{ product.price +100 }}</del></span></sup> грн.</li>
            </ul>
            <div class="card-footer">
                <form action="" method="post">
                    <input type="hidden" name="id" value="{{ product.id }}">
                    <button type="submit" class="btn btn-primary btn-lg">КУПИТЬ</button>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#exampleModalLong">
                        КУПИТЬ В 1 КЛИК
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">ЗАКАЗ В 1 КЛИК</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-header">
                                    <p class="text-muted">Укажите свои данные и менеджер свяжется с вами в ближайшее время.</p>
                                </div>
                                <form action="" method="post">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <!--Имя-->
                                            <label for="orderName">Имя</label>
                                            <input type="text" name="fast_user_name" class="form-control" id="orderName" placeholder="Ваше имя">
                                            <label for="orderPhone">Телефон</label>
                                            <input type="text" name="fast_user_phone" class="form-control" id="orderPhone" placeholder="Ваш телефон">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" name="id" value="{{ product.id }}">
                                        <button type="submit" class="btn btn-primary w-100">ОТПРАВИТЬ ЗАКАЗ</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
{% else %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Главная</a>
    <span class="breadcrumb-item active">Товары</span>
</nav>
<div class="card-desk row">
    {% for product in products %}
    <div class="col-3">
        <div class="card h-100">
            <a href="/products/{{product.url}}">
                <img src="../../upload/{{ product.image }}" alt="{{ product.name }}" title="{{ product.name }}" class="card-img-top" style="width: 100%">
            </a>
            <div class="card-block">
                <h5 class="card-title"><a href="/products/{{product.url}}">{{ product.name|slice(0,25) }}</a></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Цена: {{ product.price }} <sup><span class="badge badge-pill badge-success"><del>{{ product.price +100 }}</del></span></sup> грн.</li>
            </ul>
            <div class="card-footer">
                <form action="" method="post">
                    <input type="hidden" name="id" value="{{ product.id }}">
                    <input type="hidden" name="name" value="{{ product.name }}">
                    <input type="hidden" name="price" value="{{ product.price }}">
                    <input type="hidden" name="image" value="{{ product.image }}">
                    <input type="hidden" name="click" value="1">
                    <input type="submit" class="btn btn-primary w-100" value="КУПИТЬ">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{{ parent() }}
{% endif %}
{% endblock %}
