{% extends "index.html" %}
{% block title %}Товары{% endblock %}

{# {% block header %}
<p class="display-4">HELLO</p>
{% endblock header %} #}

{% block content %}
<div class="p-2">
</div>
{% if product.name %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="http://projectx/">Главная</a>
    <a class="breadcrumb-item" href="http://projectx/products/">Товары</a>
    <span class="breadcrumb-item active">{{ product.name }}</span>
</nav>
<div class="card-desk row">
    <div class="col-4">
        <div class="card">
            <a href="http://projectx/products/{{product.url}}">
                <img src="../../upload/{{ product.image }}" alt="{{ product.name }}" title="{{ product.name }}" class="card-img-top" style="width: 100%">
            </a>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ product.name }}</h4>
                <p class="card-text">{{ product.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Цена: {{ product.price }} грн.</li>
            </ul>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-lg">КУПИТЬ</a>
                <a href="#" class="btn btn-outline-primary btn-lg">КУПИТЬ В 1 КЛИК</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="http://projectx/">Главная</a>
    <span class="breadcrumb-item active">Товары</span>
</nav>
<div class="card-desk row">
    {% for product in products %}
    <div class="col-3">
        <div class="card">
            <a href="http://projectx/products/{{product.url}}">
                <img src="../../upload/{{ product.image }}" alt="{{ product.name }}" title="{{ product.name }}" class="card-img-top" style="width: 100%">
            </a>
            <div class="card-block">
                <h4 class="card-title">{{ product.name|slice(0,25) }}</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Цена: {{ product.price }} грн.</li>
            </ul>
            <div class="card-footer">
                <a href="#" class="btn btn-primary w-100">КУПИТЬ</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{{ parent() }}
{% endif %}
{% endblock %}
