{% extends "index.html" %}
{% block title %}Страницы{% endblock %}
{% block content %}
<div class="col-12">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/pages/">Главное меню</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/page/" class="btn btn-outline-success">Добавить</a>
                </li>
            </ul>
        </div>
        <div class="card-block text-left">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th class="text-center">Видимость</th>
                    <th class="text-center">Действия</th>
                </tr>
                </thead>
                {% for page in pages %}
                <tbody>
                <tr>
                    <td>{{ page.title }}</td>
                    <td>{{ page.description|slice(0,45)~'...' }}</td>
                    <!--Видимость-->
                    <td class="text-center">
                        {% if page.visible == 0 %}
                        <img src="/admin/theme/img/visible-mode-off.png" width="30px">
                        {% else %}
                        <img src="/admin/theme/img/visible-mode-on.png" width="30px">
                        {% endif %}
                    </td>
                    <!--Действия-->
                    <td class="text-center">
                        <form action="" method="post">
                            <div class="form-group">
                                <input type="hidden" value="{{ page.id }}" name="id">
                                <input type="submit" value="Удалить" name="delete" class="btn btn-outline-danger btn-sm">
                                <a href="/admin/page/?id={{ page.id }}" class="btn btn-outline-warning btn-sm" role="button">Редактировать</a>
                                <a href="/{{ page.url }}" class="btn btn-outline-info btn-sm">Просмотр</a>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}