{% extends "index.html" %}

{% block content %}
<div class="col-12">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="http://projectx/admin/users/">Покупатели</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Группы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Купоны</a>
                </li>
            </ul>
        </div>
        <div class="card-block">
            <h4 class="card-title">Список покупателей</h4>
            <p class="card-text">Ваши клиенты</p>
            <a href="#" class="btn btn-primary disabled">Принять</a>
        </div>
    </div>
</div>
{% endblock %}