{% extends "index.html" %}

{% block content %}
<div class="col-12">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Бренды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Свойства</a>
                </li>
            </ul>
        </div>
        <div class="card-block">
            <h4 class="card-title">Список товаров</h4>
            <p class="card-text">Вы можете добавлять свои товары</p>
            <a href="#" class="btn btn-primary">Добавить</a>
        </div>
    </div>
</div>
{% endblock %}