{% extends "index.html" %}
{% block title %}Блог{% endblock %}
{% block content %}
<div class="col-12">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="http://projectx/admin/blog/">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Статьи</a>
                </li>
            </ul>
        </div>
        <div class="card-block">
            <h4 class="card-title">Список блогов</h4>
            <p class="card-text">Создавайте интересные стать</p>
            <a href="#" class="btn btn-primary disabled">Создать</a>
        </div>
    </div>
</div>
{% endblock %}