{% extends "index.html" %}
{% block title %}Категории{% endblock %}
{% block content %}
<div class="col-12">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products/">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/categories/">Категории</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/category/" class="btn btn-outline-success">Добавить</a>
                </li>
            </ul>
        </div>
        <div class="card-block text-left">
            <h4 class="card-title display-7">Список категорий</h4>
            {{ viewTree(categories) }}
            <!--<ol>
                {# {% for category in categories %}
                <li>{{ category.name }}</li>
                {% if category.subcategories %}
                <ol>
                {% for subcategory in category.subcategories %}
                <li>{{ subcategory.name }}</li>
                {% endfor %}
                    </ol>
                {% endif %}
                {% endfor %} #}
            </ol>-->
        </div>
    </div>
</div>
{% endblock %}