{% extends "index.html" %}
{% block title %}Админ панель{% endblock %}
{% block content %}
<div class="col-12">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn btn-primary disabled">Admin</a>
                </li>
            </ul>
        </div>
        <div class="card-block">
            <h4 class="card-title">Admin</h4>
            <p class="card-text">Admin Admin Admin Admin Admin Admin</p>
            <a href="#" class="btn btn-primary disabled">Admin</a>
        </div>
    </div>
</div>
{% endblock %}