{% extends "index_admin.html" %}

{% block content %}
<div class="div col-12">
    <p class="display-4">Книги из MySQL</p>
</div>
<div class="col-12" id="books">
    <table class="table">
        <thead class="thead-inverse">
        <th>#</th>
        <th>Title</th>
        <th>Date</th>
        </thead>
        {% for book in books %}
        <tbody>
        <!--<tr scope="row">{{book.number}}</tr >-->
        <td>{{book.number}}</td>
        <td>{{book.title}}</td>
        <td>{{book.date}}</td>
        </tbody>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}