{% extends "index.html" %}

{% block content %}
<div class="col-12">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="http://projectx/admin/products/">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://projectx/admin/categories/">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://projectx/admin/brands/">Бренды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://projectx/admin/features/">Свойства</a>
                </li>
            </ul>
        </div>
        <div class="card-block">
            <h4 class="card-title">Список брендов</h4>
            <p class="card-text">Вы можете добавлять свои бренды</p>
            <a href="#" class="btn btn-primary disabled">Добавить</a>
        </div>
    </div>
</div>
{% endblock %}