{% extends "index.html" %}
{% block title %}Настройки{% endblock %}
{% block content %}
<div class="col-12">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/settings/">Настройки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Валюты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Доставка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Оплата</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Менеджеры</a>
                </li>
            </ul>
        </div>
        <!--<div class="card-block">
            <h4 class="card-title">Список новых заказов</h4>
            <p class="card-text">Принимайте новые заказы</p>
            <a href="#" class="btn btn-primary disabled">Принять</a>
        </div>-->
    </div>
</div>
{% endblock %}