{% extends "index.html" %}
{% block title %}Заказы{% endblock %}
{% block content %}
<div class="col-12">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="http://projectx/admin/orders/">Новые</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Принятые</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Выполнены</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Удаленые</a>
                </li>
            </ul>
        </div>
        <div class="card-block">
            <h4 class="card-title">Список новых заказов</h4>
            <p class="card-text">Принимайте новые заказы</p>
            <a href="#" class="btn btn-primary disabled">Принять</a>
        </div>
    </div>
</div>
{% endblock %}