{% extends "index.html" %}
{% block title %}Добавить товар{% endblock %}
{% block content %}
<!--<div class="col-12">-->
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="http://projectx/admin/products/">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://projectx/admin/categories/">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://projectx/admin/brands/">Бренды</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://projectx/admin/features/">Свойства</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://projectx/admin/product/">Добавление товара</a>
                </li>
            </ul>
        </div>
        <!--<div class="w-100">
            <p class="display-4">Добавление товара</p>
        </div>-->
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ product.id }}">
            <div class="row">
                <div class="card-block col-9 text-left">
                    <!--Название-->
                    <div class="form-group">
                        <label for="product-name">Название</label>
                        <input class="form-control" type="text" name="name" id="product-name">
                    </div>
                    <!--Ссылка и Цена-->
                    <div class="form-inline text-center">
                        <label for="product-url" class="col-1">Ссылка</label>
                        <!--<span class="badge badge-default col-2">Ссылка</span>-->
                        <input class="form-control form-control-sm col-9" type="text" name="url" id="product-url">
                        <label for="product-price" class="col-1">Цена</label>
                        <input class="form-control form-control-sm col-sm-1" type="text" name="price" id="product-price">
                    </div>
                </div>
                <div class="card-block col-3 align-self-center">
                    <!--Видимость. Switch-->
                    <p>Видимость</p>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-outline-primary btn-sm">
                            <input type="radio" name="visible" autocomplete="off" value="1">On
                        </label>
                        <label class="btn btn-outline-primary active btn-sm">
                            <input type="radio" name="visible" autocomplete="off" value="0">Off
                        </label>
                    </div>
                    <!--Хит продаж. Switch-->
                    <p>Хит продаж</p>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-outline-primary btn-sm">
                            <input type="radio" name="#" autocomplete="off" value="1">On
                        </label>
                        <label class="btn btn-outline-primary active btn-sm">
                            <input type="radio" name="#" autocomplete="off" value="0" checked>Off
                        </label>
                    </div>
                </div>
                <div class="card-block col-12">
                    <!--Загрузка картинки-->
                    <div class="form-group">
                        <label for="exampleInputFile">Изображение товара</label>
                        <!-- <input type="hidden" name="MAX_FILE_SIZE" value="2000000">-->
                        <input type="file" class="form-control-file" name="image" id="exampleInputFile" aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted">Загружайте изображение в формате .png и .jpg. Размер до 2 МБ</small>
                    </div>
                </div>
                <div class="card-block col-12">
                    <!--Описание товара-->
                    <div class="form-group">
                        <label for="exampleTextarea">Описание товара</label>
                        <textarea class="form-control" id="exampleTextarea" name="description" rows="3"></textarea>
                    </div>
                </div>
                <div class="card-block col-12">
                    <input type="submit" class="btn btn-success col-12" value="Добавить">
                </div>
            </div> <!--ROW-->

        </form>
    </div>
<!--</div>-->
{% endblock %}