{% extends "index.html" %}
{% block title %}Товары{% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/products/">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories/">Категории</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/product/" class="btn btn-outline-success">Добавить</a>
                </li>
            </ul>
        </div>
        <div class="card-block text-left">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Фото</th>
                    <th class="w-25">Название</th>
                    <th>Цена</th>
                    <th class="text-center">Видимость</th>
                    <th class="text-center">Хит</th>
                    <th class="text-center">Действия</th>
                </tr>
                </thead>
                {% for product in products %}
                <tbody>
                <tr>
                    <th><img src="/upload/{{ product.image }}" width="30px"></th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }} грн.</td>
                    <!--Видимость-->
                    <td class="text-center">
                        {% if product.visible == 0 %}
                        <img src="/admin/theme/img/visible-mode-off.png" width="30px">
                        {% else %}
                        <img src="/admin/theme/img/visible-mode-on.png" width="30px">
                        {% endif %}
                    </td>
                    <!--Топ продаж-->
                    <td class="text-center"><img src="/admin/theme/img/hot-mode-on.png" width="30px"></td>
                    <!--Действия-->
                    <td class="text-center">
                        <form action="" method="post">
                            <div class="form-group">
                                <input type="hidden" value="{{ product.id }}" name="id">
                                <input type="submit" value="Удалить" name="delete" class="btn btn-outline-danger btn-sm">
                                    <a href="/admin/product/?id={{ product.id }}" class="btn btn-outline-warning btn-sm" role="button">Редактировать</a>
                                <a href="/products/{{ product.url }}" target="_blank" class="btn btn-outline-info btn-sm">Просмотр</a>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}